.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}
.btn-light{
    margin-right: 15px;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-user {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #ffffff;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;
}
.main-body {
    /* align-content: center; */
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(114, 47, 47); */
}
.main-head{
    font-size: 24;
    margin-left: 10px;
}

.main_sales_links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.main_laptops {
    display: flex;
    justify-content: space-around;
}

/* #main-laptops .card {
} */
.container-fluid {
    display: flex;
    justify-content: center;;
}
/* .carousel-inner img {
} */
/*
.carousel-item {
    height: 300px; 
}
  */
.carousel-item img {
    height: 220px;
    width: 100%;
    object-position: center;
} 

.card_small {
    width: 66%;
}


footer {
    margin-top: 60px;
    padding: 5em;
}
footer div div {
    justify-content: space-between;
}
.footer-links {
    width: fit-content;
  }
.footer-sm {
    width: 64px;
  }
.footer-sm img {

    width: 100%;
    margin-bottom: 10px;
  
  }

#laptops {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 5px;
    margin-top: 15px;
}

#title {
    margin-left: 20px;
    margin-top: 15px;
}